#about {
  padding: 70px 0 90px 0;
  border-bottom: 1px solid #ccc;
}

#about .title {
  font-size: 4em;
  text-decoration: underline;
  text-decoration-color: #ff0;
}
#about .subTitle {
  margin-top: 20px;
  font-size: 2.5em;
  text-align: left;
}
#about .content {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: justify;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  #about {
    padding: 70px 20px;
  }
}
