#nav {
  width: 100%;
  height: 70px;
  z-index: 9999;
}
#nav ul {
  display: flex;
  min-width: 600px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#nav li:hover {
  border-bottom: 2px solid #333;
}

#nav a {
  display: inline-block;
  font-size: 1.8em;
  color: #fff;
  line-height: 2;
  margin: 10px 0;
  padding: 0 30px;
  font-weight: bold;
}
#nav a:focus {
  outline: none;
}
#nav:hover {
  background-color: #fff;
}

#nav:hover a {
  color: #333;
}
.nonScroll {
  position: absolute;
}
.scroll {
  position: fixed;
  background-color: #fff;
}
.scroll a {
  color: #333 !important;
}
